@media (max-width: 768px) {
  /* Estilos de movimiento para dispositivos móviles */
  .resident:hover {
      transform: scale(1.05);
      transition: transform 0.3s ease;
  }
}



.resident {

  width: 100%;
  max-width: 60vh;
  height: auto;
  background-color: #08376C;
  color: white;
  border-radius: 1em;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  border: 4px solid rgba(255, 255, 0, 0.7);
  cursor: pointer;
}
.resident:hover {
  transform: scale(1.05); /* Escala la tarjeta al 105% del tamaño original */
  transition: transform 0.3s ease; /* Agrega una transición suave para la animación */
}

.resident__header {
  position: relative;
}
.resident__status {
  position: absolute;
  top: 2.0em;
  background-color: #08376C;
  width: 35%;
  padding: 0.3em 0.7em;
  border-radius: 0 0.5em 0.5em 0;  
  display: flex;
  gap: 0.7em;
  align-items: center;
}
.resident__status__circle {
  display: block;
  width: 0.8em;
  aspect-ratio: 1;
  background-color: red;
  border-radius: 50%;
}
.resident__body {
    padding: 1.5em 1em 2.5em;
}
.resident__name {
  
  margin-bottom: 0.5em;
  font-weight: 700;
  font-family: 'Creepster', sans-serif;
  border-radius: 0 0.5em 0.5em 0;
  color: yellow;
}
.resident__separator {
  margin-bottom: 0.5em;
  border-color: #a7f47d;
}
.resident__list {
  display: grid;
  gap: 0.7em;
}
.resident__item {
  display: flex;
  flex-direction: column;
}
.resident__label {
 font-size: 0.8em;
 padding-left: 1em;
 color: azure;
}
